{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
           
        /* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}
.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Dashboard";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "Setting";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}
    
/* Adding my css */
.fullpage{
    height: 800px;
    width: 100%;
    /* background-image: url("{% static '1.jpeg'  %}"); */
    background-image: url("{% static 'new/6.jpg' %}");
}
.fullpage h1{
    text-align: center;
    color: white;
    font-size: 4.5rem;
    margin-top: 8%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fullpage p{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fullpage h2{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#contact{
    height: 7%;
    width: 8%;
    background-color: aqua;
    margin-left: 46%;
    margin-top: 5%;
    font-size: 1.2rem;
}


/* Adding the css for our mission */

.typingelement {
    color: rgb(252, 255, 54);
  }

  #buisnessdevelopmment {
    color: rgb(224, 173, 20);
    text-align: center;
    font-size: 2.9rem;
    font-weight: 600;
    font-family: 'Righteous', serif, system-ui;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .home3 {
    display: flex;
  }

  .image1 {
    margin-left: 20%;
    width: 14%;
  }

  .image1 img {
    width: 125%;
    border-radius: 500px;
    border: 1px solid rgb(255, 255, 255);
  }

  .image1 h2 {
    text-align: center;
    margin-left: 10%;
    font-size: 1.9rem;
  }

  .image1 p {
    text-align: center;
    margin-left: 10%;
    font-size: 1.4rem;
    margin-left: -10%;
    margin-right: -20%;
    color: #6d6b6b;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .image2 {
    margin-left: 8%;
    width: 14%;
  }

  .image2 img {
    width: 125%;
    border-radius: 500px;
    border: 1px solid rgb(255, 255, 255);
  }

  .image2 h2 {
    text-align: center;
    margin-left: 10%;
    font-size: 1.9rem;
  }

  .image2 p {
    text-align: center;
    margin-left: 10%;
    font-size: 1.4rem;
    margin-left: -10%;
    margin-right: -20%;
    color: #6d6b6b;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .image3 {
    margin-left: 8%;
    width: 14%;
  }

  .image3 img {
    width: 125%;
    border-radius: 500px;
    border: 1px solid rgb(255, 255, 255);
  }

  .image3 h2 {
    text-align: center;
    margin-left: 10%;
    font-size: 1.9rem;
  }

  .image3 p {
    text-align: center;
    margin-left: 10%;
    font-size: 1.4rem;
    margin-left: -10%;
    margin-right: -20%;
    color: #6d6b6b;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

/* Adding signup css */
.cons1{
  height: 480px;
  width: 80%;
  background: #f8fafb;
  padding: 150px 0;
  margin-left: 10%;
}

.cons1 h4{
  font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.cons1 h5{
  font-size: 16px;
  margin-top: 1%;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.inputbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
#contactbutton{
  height: 55px;
  width: 8.6%;
  background-color: rgb(255, 108, 108);
  color: white;
  border: 1px solid rgb(255, 108, 108);
}
#contactinput{
  height: 55px;
  width: 25%;
  background-color: rgb(255, 255, 255);
  color: white;
  border: 1px solid rgb(218, 215, 215);
  box-shadow: 0px 5px 15px rgba(10,10,10,0.5);
}


    /* Starting of faq */
    .faqs h1{
      text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 55px;
    line-height: normal;
    color: rgba(32, 57, 110, 1);
    margin-bottom: 2.6rem;
    margin-top: 1%;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  border-radius: 14px;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #000000;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.55rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #000000;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  margin-left: 2%;
  color: rgba(24, 76, 161, 1);
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 32px;
    right: 36px;
  width: 22px;
  height: 22px;
  border: 1px solid black;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 2em 0;
  margin-left: 2%;
}
.accordion-item{
  margin-bottom: 20px;
}

/* Building the contact sectoion */
.lastcontact{
  display: flex;
  background: rgba(41, 44, 48, 1);;
}
.lcontact1{
  margin-top: 12%;
  margin-left: 15%;
  margin-bottom: 13%;
}
.lcontact1 h1{
  color: #777676;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 2%;
}
.lcontact1 h2{
  color: #ffffff;
  font-weight: 400;
  width: 40%;
  margin-top: 0.5%;
  font-size: 1.8rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 0;
}
.lcontact2{
  margin-top: 4%;
  height: 700px;
  margin-left: 50%;
  width: 35%;
  background-color: white;
  position: absolute;
  border-radius: 50px;
}
.lcontact2 h1{
  color: rgba(32, 57, 110, 1);
  margin-left: 8%;
  margin-top: 2%;
  font-size: 3rem;
  font-weight: 600;
}
#inname{
  margin-left: 8%;
  margin-top: 2%;
  border: 1px solid rgb(45, 87, 165);
  height: 60px;
  width:70%;
  font-size: 1.12rem;
  border-radius: 10px;
  color: black;
}
#textname{
  margin-left: 8%;
  margin-top: 2%;
  border: 1px solid rgb(45, 87, 165);
  height: 200px;
  width:70%;
  font-size: 1.12rem;
  border-radius: 10px;
  color: black;
}

.submit-button {
      display: inline-block;
      padding: 15px 60px;
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background: linear-gradient(to left, #3498db, #2ecc71);
      border-radius: 5px;
      transition: background 0.3s ease;
      border-radius: 45px;
      margin-left: 7%;
      margin-top: 1%;
    }

    .recommendations{

      text-align: center;
      margin-top: 1%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .containers{
    margin: 0 auto;
    width: 70%;
}

/* Our services section */
.services h1{
  color: rgba(32,57,110,1);
    font-size: 3.3rem;
    font-weight: 600;
    text-align: center;

}

/* Making the page responsive */
@media (max-width: 1760px){
  .clients h2 {
    margin-left: 12%;
    font-size: 6rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
}
@media (max-width: 1680px){
  .clients2 h3 {
    color: white;
    margin-left: 21%;
    font-size: 2rem;
}
.clients2 h2 {
    color: white;
    margin-left: 20.8%;
    font-size: 2rem;
}
}

@media (max-width: 1560px){
  .clients h2 {
    font-size: 4rem;
}
.clients h1 {
    font-size: 4rem;
}
.clients2 h3 {
    color: white;
    margin-left: 16%;
    font-size: 1.2rem;
}
.clients2 h4 {
    color: white;
    margin-left: 9%;
    font-size: 1.2rem;
}
.clients2 h2 {
    color: white;
    margin-left: 14.8%;
    font-size: 1.2rem;
}
.clients2 h1 {
    color: white;
    font-size: 1.2rem;
    margin-left: 10%;
}

} 
/* making the full page responsivve */

@media (max-width: 1881px){
  #contactbutton1 {
    height: 11vh;
    width: 39vh;
}
.home6text {
    height: 615px;
}
}
 @media (max-width: 1710px){
  .home6text {
    height: 578px;
}
} 
@media (max-width: 1620px){
  .lcontact2 {
    height: 110%;
    margin-left: 56%;

}
.home6text {
    height: 546px;
}
} 
@media (max-width: 1470px){
  .home6text {
    height: 528px;
}
.custom-button {
    margin-left: 26%;
}
} 
 @media (max-width: 1400px){
  .allservicefix {
    display: block;
    margin-left: 7%;
}
.service1 img {
    width: 150%;
}
.allservices {
    display: flex;
    margin-left: 18%;
    width: 59%;
}
.allservices2 {
    display: flex;
    display: none;
}
.home6text {
    height: 513px;
}
.faqs h1 {
    margin-bottom: -0.4rem;
}
} 
 @media (max-width: 1240px){
  .home1 h1 {
    font-size: 2.6rem;
}
.image1 p {
    font-size: 0.8rem;
}
.image2 p {
    font-size: 0.8rem;
}
.image3 p {
    font-size: 0.8rem;
}
.home6text h2 {
    font-size: 30px;
}
.home6text h3 {
    font-size: 30px;
}
.custom-button {
    margin-left: 17%;
    margin-top: -8%;
}
.home6text {
    height: 474px;
}
.service1 h3 {
    font-size: 1rem;
}
} 
 @media (max-width: 1130px){
  .home6img img {
    width: 100%;
}
.home6text h2 {
    margin-top: 0%;
}
.custom-button {
    padding: 7px 40px;
    margin-left: 28%;
}
.home6text {
    height: 346px;
}
} 
@media (max-width: 1250px){
  .lcontact2 {
    height: 110%;
    margin-left: 60%;
}
.lcontact2 h1 {
    color: rgba(32, 57, 110, 1);
    margin-left: 8%;
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 600;
}
.home6text {
    height: 477px;
}
.custom-button {
    margin-left: 22%;
}
}

@media (max-width: 1080px){
  #buisnessdevelopmment {
    font-size: 2rem;
}
.home6text {
    height: 338px;
}
.lcontact1 h1 {
    font-size: 3rem;
}
.lcontact1 h2 {
    font-size: 1rem;
    width: 100%;
}
.lastcontact {
    height: 650px;
}
.row-cols-md-3>* {
    flex: 0 0 auto;
    width: 65.333333%;
}
.containers {
    margin: 1px auto;
    width: 70%;
    margin-left: 32%;
}
} 
 @media (max-width: 1000px){
  .lastcontact {
    display: block;
    margin-top: 0;
}
.lcontact1 {
    margin-top: 0%;
}
.lcontact1 h1 {
    text-align: center;
}
.lcontact1 h2 {
    font-size: 1.4rem;
}
.lcontact2 {
    height: 110%;
    margin-left: 25%;
    margin-top: -10%;
    width: 60%;
}
.lastcontact {
    height: 1000px;
}
} 
 @media (max-width: 960px){
  .home6text {
    height: 318px;
}
} 
@media (max-width: 900px){
  .clients h2 {
    font-size: 3rem;
}
.clients h1 {
    font-size: 3rem;
}
.home6text h2 {
    font-size: 17px;
}
.home6text h3 {
    font-size: 16px;
}
.home6text {
    height: 300px;
}
.service1 img {
    width: 161%;
}
}
@media (max-width: 760px){
  .clients h2 {
    font-size: 2rem;
}
.clients2 h3 {
    color: white;
    margin-left: 13%;
    font-size: 0.8rem;
}
.custom-button {
    padding: 14px 30px;
    margin-left: 28%;
    font-size: 15px;
  }
  .home6text {
    height: 269px;
}
.service1 h3 {
    font-size: 0.7rem;
}
.accordion-item{
  width: 120%;
}
} 

    </style>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="images/logo.png" alt=""></i>CodingNepal
      </div>

      <div class="search_bar">
        <input type="text" placeholder="Search" />
      </div>

      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
        <img src="images/profile.jpg" alt="" class="profile" />
      </div>
    </nav>

    <!-- sidebar -->
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <div class="menu_title menu_dahsboard"></div>
          <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
          <!-- start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink">Home</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
            </ul>
          </li>
          <!-- end -->

          <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
          <!-- start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              <span class="navlink">Overview</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
            </ul>
          </li>
          <!-- end -->
        </ul>

        <ul class="menu_items">
          <div class="menu_title menu_editor"></div>
          <!-- duplicate these li tag if you want to add or remove navlink only -->
          <!-- Start -->
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bxs-magic-wand"></i>
              </span>
              <span class="navlink">Magic build</span>
            </a>
          </li>
          <!-- End -->

          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-loader-circle"></i>
              </span>
              <span class="navlink">Filters</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-filter"></i>
              </span>
              <span class="navlink">Filter</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Upload new</span>
            </a>
          </li>
        </ul>
        <ul class="menu_items">
          <div class="menu_title menu_setting"></div>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-flag"></i>
              </span>
              <span class="navlink">Notice board</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-medal"></i>
              </span>
              <span class="navlink">Award</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Setting</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-layer"></i>
              </span>
              <span class="navlink">Features</span>
            </a>
          </li>
        </ul>

        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <span> Expand</span>
            <i class='bx bx-log-in' ></i>
          </div>
          <div class="bottom collapse_sidebar">
            <span> Collapse</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
      </div>
    </nav>

    <div class="fullpage">
        .
        <h1>Hi , I am Roy </h1>
        <p>WEB DEVELOPER AND UI/UX DEVELOPER</p>
        <h2>An passionate programmer with knowledge of Python </h2>
        <button id="contact">Contact Me </button>
    </div>



    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="text-primary">Tourist</span></h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Our mission start -->
<h2 id="buisnessdevelopmment">ABOUT BUSINESS DEVELOPMENT SOLUTIONS</h2>
    <div class="home2">
      <div class="home3">
        <div class="image1">
          <img src="{% static 'home2/2.jpg' %}" alt="">
          <h2>Our Mission</h2>
          <p>At Business Development Solutions, our mission is to provide exceptional consulting services that empower
            our clients to achieve their business goals. We strive to deliver customized solutions that meet the unique
            needs of each client.</p>
        </div>
        <div class="image2">
          <img src="{% static 'home2/3.jpg' %}" alt="">
          <h2>Our Team</h2>
          <p>Our team consists of experienced consultants with diverse backgrounds in various industries. We combine our expertise to deliver innovative solutions to our clients.</p>
        </div>
        <div class="image3">
          <img src="{% static 'home2/1.jpg' %}" alt="">
          <h2>Our Approach</h2>
          <p>We believe in a collaborative approach to consulting, where we work closely with our clients to understand their needs and develop solutions together. Our goal is to build long-lasting relationships with our clients.</p>
        </div>
      </div>
    </div>
<!-- Our mission End -->




    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
                <h1 class="mb-5">Our Services</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5>WorldWide Tours</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                            <h5>Hotel Reservation</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5>Travel Guides</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                            <h5>Event Management</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5>WorldWide Tours</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                            <h5>Hotel Reservation</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5>Travel Guides</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                            <h5>Event Management</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Destination Start -->
    <div class="container-xxl py-5 destination">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Destination</h6>
                <h1 class="mb-5">Popular Destination</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/destination-1.jpg' %}" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Thailand</div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/destination-2.jpg' %}" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/destination-3.jpg' %}" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Australia</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/destination-4.jpg' %}" alt="" style="object-fit: cover;">
                        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Indonesia</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination End -->
    <!-- Destination Start -->


    <!-- Package Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Awesome Packages</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/package-1.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Thailand</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">$149.00</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/package-2.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Indonesia</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">$139.00</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/package-3.jpg' %}" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Malaysia</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">$189.00</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Package End -->
    <!-- Package End -->


    <!-- Booking Start -->
    <!-- <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="booking p-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-6 text-white">
                        <h6 class="text-white text-uppercase">Booking</h6>
                        <h1 class="text-white mb-4">Online Booking</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-white mb-4">Book A Tour</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control bg-transparent datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Date & Time</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select bg-transparent" id="select1">
                                            <option value="1">Destination 1</option>
                                            <option value="2">Destination 2</option>
                                            <option value="3">Destination 3</option>
                                        </select>
                                        <label for="select1">Destination</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Booking Start -->

    <div class="contactsec">
      <div class="cons1">
        .
        <h4>Do you want to build your product with Us and grow with US ? </h4>
        <h5>Build Your portfolio , your product with all the features with us and make yourelf available to catch up with the daily chaning industry</h5>
        <div class="inputbox">
          <input id="contactinput" type="text">
          <button id="contactbutton">Contact Us</button>
        </div>
      </div>
    </div>

    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Clients Say!!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    
<!-- adding faq and contact -->
<div class="faqs">
  .
  <h1>Frequently Asked Questions</h1>
  <div class="container">
    <div class="accordion">
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false">
          <span class="accordion-title">What is business development ?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            Business development (BD) is the process that is used to identify, nurture and acquire new clients and business opportunities to drive growth and profitability.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-2" aria-expanded="false">
          <span class="accordion-title">Why is business development important?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            BD is important for businesses because it helps them to identify new opportunities for growth, increase revenue, and build strong, long-term relationships with clients.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-3" aria-expanded="false">
          <span class="accordion-title">What services does CONSULTINGS offer?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            CONSULTINGS offers a range of business development services including marketing strategy development, lead generation, client relationship management, and business planning.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false">
          <span class="accordion-title">How much does the Earth weigh?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
            Ut tortor pretium viverra suspendisse potenti.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false">
          <span class="accordion-title">How do airplanes stay up?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
            Ut tortor pretium viverra suspendisse potenti.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lastcontact">
  <div class="lcontact1">
    <h1>Let’s Get Started</h1>
    <h2>We offer full-cycle technology solutions that streamline your digital transformation journey. With cutting-edge technical expertise, INT. simplifies complex business challenges with innovative solutions for 100+ fastest-growing enterprises.</h2>
  </div>
  
  <div class="lcontact2">
    .
    <form action="">
    <h1>Let's Get Started</h1>
    <input id="inname" type="text" placeholder="Enter Your Name ">
    <input id="inname" type="text" placeholder="Enter Your Email ">
    <input id="inname" type="text" placeholder="Enter Your Phone Number ">
    <textarea name="" id="textname" id="" cols="30" rows="10" placeholder="Write Your message"></textarea>
    <a href="#" class="submit-button">Submit</a>
  </form>
  </div>
 
</div>



<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>

    <!-- JavaScript -->
    <script>


// faq 
const items = document.querySelectorAll('.accordion button');

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');

  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }

  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}

items.forEach((item) => item.addEventListener('click', toggleAccordion));


// extra js for navbar



    </script>


    {% endblock content %}

